### Zadanie: przestępczość
#### 1. Pobierz bazę danych dotyczącą śmiertelnych interwencji policji w USA, a następnie wczytaj ją do obiektu DataFrame.

In [1]:
import pandas as pd
crimes = pd.read_csv('fatal-police-shootings-data.csv')
crimes.head()

   id                name        date  ... threat_level         flee  body_camera
0   3          Tim Elliot  2015-01-02  ...       attack  Not fleeing        False
1   4    Lewis Lee Lembke  2015-01-02  ...       attack  Not fleeing        False
2   5  John Paul Quintero  2015-01-03  ...        other  Not fleeing        False
3   8     Matthew Hoffman  2015-01-04  ...       attack  Not fleeing        False
4   9   Michael Rodriguez  2015-01-04  ...       attack  Not fleeing        False

[5 rows x 14 columns]

In [72]:
type(crimes)

pandas.core.frame.DataFrame

In [92]:
crimes.columns

Index(['id', 'name', 'date', 'manner_of_death', 'armed', 'age', 'gender',
       'race', 'city', 'state', 'signs_of_mental_illness', 'threat_level',
       'flee', 'body_camera'],
      dtype='object')

#### 2. Przekształć tabelę w taki sposób, aby wskazywała zestawienie jednocześnie liczby ofiar interwencji według rasy (‘race’) oraz tego, czy wykazywały one oznaki choroby psychicznej (‘signs_of_mental_illness’).

In [136]:
import numpy as np
table = pd.DataFrame(crimes.pivot_table(values='id', index='race',columns='signs_of_mental_illness',aggfunc='count'))
table

signs_of_mental_illness  False  True
race
A                           69     24
B                         1114    184
H                          745    157
N                           64     14
O                           37     11
W                         1763    713

In [137]:
type(table)

pandas.core.frame.DataFrame

In [138]:
table = table.reset_index()
table

signs_of_mental_illness race  False  True
0                          A     69    24
1                          B   1114   184
2                          H    745   157
3                          N     64    14
4                          O     37    11
5                          W   1763   713

In [139]:
table.index.name = None
table

signs_of_mental_illness race  False  True
0                          A     69    24
1                          B   1114   184
2                          H    745   157
3                          N     64    14
4                          O     37    11
5                          W   1763   713

In [140]:
type(table)

pandas.core.frame.DataFrame

In [141]:
table.columns

Index(['race', False, True], dtype='object', name='signs_of_mental_illness')

#### 3. Za pomocą Map, Applymap lub Apply dodaj do tego zestawienia kolumnę wskazującą jaki odsetek ofiar interwencji wykazywało oznaki choroby psychicznej dla każdej z ras. Odpowiedz, która z nich charakteryzuje się największym odsetkiem znamion choroby psychicznej podczas interwencji.

In [142]:
type(table)

pandas.core.frame.DataFrame

In [133]:
table = table.rename(columns={'False':'Yes', 'True':'No'},  inplace=True)
table

In [143]:
for col in table.columns:
    print(col)

race
False
True

In [144]:
table[0]

0      69
1    1114
2     745
3      64
4      37
5    1763
dtype: int64

In [145]:
table[1]

0     24
1    184
2    157
3     14
4     11
5    713
Name: True, dtype: int64

In [146]:
no = pd.DataFrame(table[0].to_numpy())
no

      0
0    69
1  1114
2   745
3    64
4    37
5  1763

In [147]:
yes = pd.DataFrame(table[1].to_numpy())
yes

     0
0   24
1  184
2  157
3   14
4   11
5  713

In [148]:
yes * no

         0
0     1656
1   204976
2   116965
3      896
4      407
5  1257019

In [149]:
def calculate_ratio(row):
    return no + yes

table['mental_illness_ratio'] = table.apply(calculate_ratio, axis=1)
table

signs_of_mental_illness race  ...                               mental_illness_ratio
0                          A  ...        0
0    93
1  1298
2   902
3    78
4    4...
1                          B  ...        0
0    93
1  1298
2   902
3    78
4    4...
2                          H  ...        0
0    93
1  1298
2   902
3    78
4    4...
3                          N  ...        0
0    93
1  1298
2   902
3    78
4    4...
4                          O  ...        0
0    93
1  1298
2   902
3    78
4    4...
5                          W  ...        0
0    93
1  1298
2   902
3    78
4    4...

[6 rows x 4 columns]